<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Стартовая страница</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
            $(document).ready(function() {
            $('form').submit(function(e) {
                e.preventDefault(); // Отменяем стандартное поведение формы

                // Получаем данные формы
                var formData = $(this).serialize();

                $.post('/continue', formData, function() {
                    // Обработка успешного выполнения запроса (скрипта)
                    alert("Запрос успешно выполнен!");
                    window.close();
                });
            });
        });
    </script>
</head>
<body>
    <h1>Добро пожаловать на сайт</h1>
    <form method="POST">
        <input type="hidden" name="mac_address" value="{{ mac_address }}">
        <input type="hidden" name="mikrotik_ip" value="{{ mikrotik_ip }}">
        <input type="submit" value="Продолжить">
    </form>
</body>
</html>